{% extends 'ApplicationHomeBundle:Admin:index.html.twig' %}

{% block contenu -%}
    <h1>Annonces clients</h1>

    <table class="table-bordered col-md-9">
        <thead>
            <tr>

                <th>Titre</th>
                <th>Texte</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.titre }}</td>
                <td>{{ entity.texte }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.tel }}</td>
                <td>{{ entity.statut }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('annonce_show', { 'id': entity.id }) }}">afficher</a>
                    </li>
                    <li>
                        <a href="{{ path('annonce_edit', { 'id': entity.id }) }}">modifier</a>
                    </li>

                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
